* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


*::-webkit-scrollbar {
    width: 0.1em;
    height: 0.1em
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
    background-color: #b71b1b;
  /* outline: 1px solid slategrey; */
}

* {
    scrollbar-width: none;
    scrollbar-color: rebeccapurple green;
}
