* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


*::-webkit-scrollbar {
    width: 0.2em;
    height: 0.3em;
    border-radius: 5px;    
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
    background-color: #b71b1b;
  /* outline: 1px solid slategrey; */
}

* {
    scrollbar-width: none;
    scrollbar-color: rebeccapurple green;
}


.brackets-viewer {
  /* Colors */
  --primary-background: #101213;
  --secondary-background: #1c2835;
  --match-background: #14191f;
  --font-color: #d9d9d9;
  --win-color: #50b649;
  --loss-color: #e61a1a;
  --label-color: grey;
  --hint-color: #a7a7a7;
  --connector-color: #1c2835;
  --border-color: var(--primary-background);
  --border-hover-color: #b6b5b5;

  /* Sizes */
  --text-size: 12px;
  --round-margin: 40px;
  --match-width: 150px;
  --match-horizontal-padding: 8px;
  --match-vertical-padding: 6px;
  --connector-border-width: 2px;
  --match-border-width: 1px;
  --match-border-radius: 0.5em;
}
